.buttons {
  display: flex;
  margin-top: 2rem;
  gap: 1.31rem;
}
#butttonWatch, #buttonTrailer {
  cursor: pointer;
  padding: .93rem 1.68rem;
  background: var(--blue-100);
  color: var(--white);
  border-radius: .18rem;
  border: 1px solid var(--blue-100);

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.36rem;
}
#buttonTrailer {
  background: var(--black);
  border: 1px solid var(--white);
}

@media(max-width: 840px) {
  .buttons {
    padding-top: 2rem;
    background: var(--black);
    border-radius: 1.25rem 1.25rem 0 0;
  }
  #butttonWatch, #buttonTrailer {
    width: 100%;
    padding: .5rem 1.15rem;
    font-size: .87rem;
    line-height: 1.19rem;
  }
  .description-mobile {
    display: grid;
  }
}