.info-movie {
  display: flex;
  align-items: center;
  gap: 6.68rem;
  margin-top: 2.70rem;
}
.time {
  display: flex;
  align-items: center;

  gap: .90rem;
}
.time, .info-movie p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.82rem;
}
