.movie {
  width: 67.98vw;
  display: flex;
  gap: 4.56rem;
  margin-top: 14vh;
}
.movie-poster img {
  border-radius: 1.25rem;
}

@media(max-width: 840px) {
  .movie {
    width: 86.67vw;
  }
  .movie-poster {
    display: none;
  }
}