.cards-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards-text h2 {
  font-size: 2rem;
  font-weight: 600;

  margin-top: 3.62rem;
  line-height: 3.92rem;
}
.cards-text p {
  text-align: center;
  font-size: 1.12rem;
  line-height: 2.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 3.68rem 6.25rem 6.25rem 6.25rem;
}