@import url(./components/header.css);
@import url(./components/cards.css);
@import url(./components/card.css);
@import url(./components/contact.css);

:root {
  --white-100: #FFFFFF;
  --white-200: #F9F9F9;
  --gray-100: #555555;
  --gray-200: #2A2A2A;
  --purple: #6C63FF;
  --purple-light: #D7D4FF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: var(--white-200);
}

h2 {
  font-family: 'Merriweather', serif;
}
