@import url(./components/header.css);
@import url(./components/post.css);

:root {
  --white-100: #FFFFFF;
  --white-200: #F3F5F7;
  --purple-100: #574AE8;
  --purple-50:#968eee;
  --gray-100: #717171;
  --gray-200: #1A202C;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--white-200);
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: 'Lexend Deca', sans-serif;
  /* font-family: 'Inter', sans-serif; */


}
body::-webkit-scrollbar {
  width: .2rem;
}
body:-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.4);
}
body::-webkit-scrollbar-thumb {
  background: #3EA1DB;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


@media(max-width: 840px) {
  body {
    font-size: 75%;
  }
}