@import url(./components/movie.css);
@import url(./components/infoMovie.css);
@import url(./components/title.css);
@import url(./components/sinopse.css);
@import url(./components/buttons.css);

:root {
  --yellow-100: #FFA800;
  --blue-100: #0072D2;
  --white: #FFFFFF;
  --balck: #131318;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;

  background-image: url(./assets/background+efect.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'B612', sans-serif;
  color: var(--white);
}