@import url(./components/movie.css);
@import url(./components/infoMovie.css);
@import url(./components/title.css);
@import url(./components/sinopse.css);
@import url(./components/buttons.css);
@import url(./components/modal.css);

:root {
  --yellow-100: #FFA800;
  --blue-100: #0072D2;
  --white: #FFFFFF;
  --black: #131318;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: 100%; */

  background-image: url(./assets/background+efect.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'B612', sans-serif;
  color: var(--white);
}
.app-loki {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}
section {
  margin-bottom: 7rem;
}

@media(max-width: 840px) {
  body {
    font-size: 84.7%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content:flex-start; /*como já está definido no container/web como center,
    aqui usase o flex-start para começar na posição inicial*/
  }
  section {
    margin-bottom: 0;
  }
}