:root {
  --green-light: #00DF5E;
  --white: #F9F9F9;
  --gray-100: #828282;
  --gray-200: #333333;
  --gray-400: #212121;
  --dark: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
}