.movie-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.play-movie {
  padding: .5rem 2.06rem;
  background: var(--green-100);
  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}
.play-movie a, .play-trailer a {
  display: flex;
  align-items: center;
  gap: .88rem;
  text-decoration: none;
  color: var(--white);
}
.play-trailer {
  padding: .5rem 2.06rem;
  border: 3px solid var(--green-100);
  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}

@media(max-width: 840px) {
  .play-movie a, .play-trailer a {
    font-size: 1.04rem;
  }
}