.navbar {
  padding-top: 2.56rem;
}
.navbar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10.49vw;
}

@media(max-width: 840px) {
  .navbar header h3 {
    display: none;
  }
}