.navbar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar header h3 {
  font-family: 'Sen', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.40rem;
}
.search-in-login {
  display: flex;
  gap: 2.81rem;
}
.search-in-login .login img {
  display: none;
}
.search {
  border: 2px solid var(--white-200);
  border-radius: 50%;
  padding: .75rem;
}
.search-in-login .login {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.21rem;

  border: 2px solid var(--white-200);
  border-radius: 6.25rem;
  padding: .93rem 2.5rem;
}

@media(max-width: 840px) {

  .search-in-login .login img {
    display: grid;
  }
  .search-in-login .login {
    padding: .75rem .90rem;
    border-radius: 50%;
  }
  .search-in-login {
    gap: .5rem;
  }
  .login > p {
    display: none;
  }
  .navbar header h3 {
    font-size: 1.12rem;
    line-height: 2.40rem;
  }
  .search {
    padding: .93rem;
  }
  .search img {
    width: 1rem;
  }
}