.image-bg {
  width: 60vw;
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: absolute;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-mobile {
  display: none;
}
.image > img {
  z-index: 1;
  position: absolute;
}
.img-grup01, .img-grup02 {
  display: flex;
  justify-content: space-between;

}
#img-01 {
  margin-top: 6vh;
  margin-left: -1vw;
}
#img-02 {
  margin-top: 5.5vh;
}
#img-03 {
  margin-top: 20vh;
  margin-left: -4vw;
}
#img-04 {
  margin-top: 22.75rem;
  margin-left: 15vw;
}
#img-05 {
  margin-top: -15vh;
}


.img-grup02 {
  /* margin-top: 22.75vh; */
  margin-top: 20.75rem;
}

@media(max-width: 840px) {
  #img-03 {
    display: none;
  }
  #img-01 > img,
  #img-02 > img,
  #img-04 > img,
  #img-05 > img {
    display: none;
  }
  .img-mobile {
    display: grid;
  }
  #img-01 {
    margin-top: -16vh;
    margin-left: -2vw;
  }
  #img-02 {
    margin-top: -23vh;
    margin-right: -25vw;
  }
  #img-04 {
    margin-top: 22vh;
    margin-left: 0;
  }
  #img-05 {
    margin-top: 8vh;
    margin-right: -25vw;
  }
}